[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
responses = "*"
pytest = "*"
yapf = "*"
coverage = "*"
coingecko-api = {editable = true, path = "."}

[requires]
python_version = "3.9"
